<div class="tabContainer">


    <mat-form-field class="example-full-width">
        <mat-label>Current course</mat-label>
        <input type="text" matInput [value]="selectedCourse" [readOnly]="isReadOnly">
    </mat-form-field>


    <button mat-mini-fab aria-label="Example icon button with a edit icon" (click)="toggleEditName()"
        [ngStyle]="{'background-color':isReadOnly? '#3f51b5': 'green' }">
        <mat-icon *ngIf="isReadOnly">edit</mat-icon>
        <mat-icon *ngIf="!isReadOnly">check</mat-icon>
    </button>

    <h2 class="mat-h2 tabtitle">Elenco studenti iscritti al corso.</h2>
    <form [formGroup]="addStudentForm">
        <div class="flexCenter">
            <div>
                <mat-form-field class="inputStudentField">
                    <input type="text" placeholder="Add Student" aria-label="Number" matInput
                        formControlName="studentControl" [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayWith"
                        (optionSelected)="autocompleteSelected($event.option.value)">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option.firstName}} {{option.name}} ({{option.id}})
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <button type="button" mat-button (click)="addStudentEvent()">Add</button>

            </div>
            <div>
                <button type="button" class="folderButton" mat-fab color="primary"
                    aria-label="Example icon button with a folder icon" (click)="fileInput.click()">
                    <mat-icon>folder</mat-icon>
                    <input #fileInput type="file" (change)="onFileChanged($event)" style="display:none;" />
                </button>
                <mat-form-field>
                    <mat-label>Add students</mat-label>
                    <input matInput placeholder="No file selected" formControlName="fileNameControl" readonly="true">
                </mat-form-field>

                <button type="button" id="uploadButton" [disabled]="isDisabled" mat-button color="primary"
                    (click)="onUpload()">Upload</button>

            </div>
        </div>
    </form>




    <div class="flexCenter">
        <div class="example-button-container">
            <button class="folderButton" mat-fab color="warn" aria-label="Example icon button with a delete icon"
                *ngIf="!isDeleteButtonDisabled()" (click)="_deleteStudents()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>

        <ngb-alert *ngIf="message" [type]='alertType' (close)="message=null">
            {{ message }}
            <div *ngIf="alertType=='secondary'">
                <button *ngIf="masterToggleInPageOption else m" (click)="toggleSelectionOptionAndSelect()"
                    mat-flat-button color="primary">Seleziona tutti </button>
                <ng-template #m>
                    <button (click)="toggleSelectionOptionAndSelect()" mat-flat-button color="primary">Annulla selezione
                    </button>
                </ng-template>
            </div>
        </ngb-alert>
    </div>


    <table #table mat-table [dataSource]="enrolledStudentsDataSource" matSort class="mat-elevation-z8">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Group Column -->
        <!-- Groups are not modelled yet, providing a default value. -->
        <ng-container matColumnDef="group">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Group </th>
            <td mat-cell *matCellDef="let element"> {{(element.group) || "---"}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- First Name Column -->
        <ng-container matColumnDef="first name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Firstname </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null" color="primary"
                    [checked]="selection.hasValue() && isAllSelectedInPage()"
                    [indeterminate]="selection.hasValue() && !isAllSelectedInPage()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    color="primary" [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>