.folderButton {
    margin: 10px;
}

#uploadButton {
    margin-left: 20px;
}

.flexCenter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

::ng-deep th,td{
    text-align:center!important;
}

::ng-deep .mat-sort-header-container{
    justify-content: center!important;
}