mat-sidenav {
  width: 25%;
}

.mat-list-base {
  padding-top: 0px;
}

.emailToolbar {
  font-size: medium;
  margin-top: auto;
}

#secondrow {
  background-color: #f5f5f5;
  color: black;
}

nav {
  width: 100%;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.clickableElement {
  cursor: pointer;
}

.popOverContentDiv{
height: auto;
width: auto;
}
#profileImage{
  height: 100px;
  width: 100px;
}