<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button *ngIf="isLoggedIn()"
      (click)="toggleForMenuClick()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span class="clickableElement" routerLink="/home">VirtualLabs</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>



    <div *ngIf="!isLoggedIn(); then toolbarLoggedBlock else toolbarUnloggedBlock"></div>
    <ng-template #toolbarLoggedBlock>
      <button mat-button [routerLink]="['home']" [queryParams]="{doLogin: true}">Login</button>
      <button mat-button [routerLink]="['home']" [queryParams]="{doRegister: true}">Register</button>
    </ng-template>

    <ng-template #toolbarUnloggedBlock>


      <ng-template #popContent>
        <div>

          Hello, <b>WALTER</b>!

        </div>
      </ng-template>

      <button type="button" mat-flat-button color="primary" placement="bottom" [ngbPopover]="popContent"
        popoverClass="popOver">
        {{nameAndSurname}}
      </button>
      <button mat-button (click)="logout()">Logout</button>
    </ng-template>

  </mat-toolbar-row>

  <mat-toolbar-row id="secondrow">
    <div *ngIf="!authService.isLoggedIn();then loggedBlock else notLoggedBlock"></div>
    <ng-template #loggedBlock>
      <span>Home</span>
      <span class="example-spacer"></span>
    </ng-template>
    <ng-template #notLoggedBlock>
      <span>{{selectedCourse}}</span>
      <span class="example-spacer"></span>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>


  <mat-sidenav #sidenav mode="side">
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let course of courses" [value]="course" (click)="selectCourse(course)">
        {{course.name}}
      </mat-list-option>
    </mat-selection-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <div *ngIf="isRoleTeacher() && isLoggedIn();">

      <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let element of navTeacherLinks" (click)="onClickTeacherTab(element.link)"
          routerLinkActive #rla="routerLinkActive" [active]="rla.isActive" value="link">
          {{element.label}}
        </a>
      </nav>

    </div>

    <div *ngIf="isRoleStudent() && isLoggedIn();">
      <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let element of navStudentLinks" (click)="onClickStudentTab(element.link)"
          routerLinkActive #rla="routerLinkActive" [active]="rla.isActive" value="link">
          {{element.label}}
        </a>
      </nav>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>