<style>
  #secondrow {
    background-color: #f5f5f5;
    color: black;
  }

  nav {
    width: 100%;
  }

  .example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
</style>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button *ngIf="isLoggedIn()"
      (click)="toggleForMenuClick()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span> <a routerLink="/home">VirtualLabs</a></span>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <button mat-button [routerLink]="['home']" [queryParams]="{doLogin: true}" *ngIf="!isLoggedIn()">Login</button>
    <button mat-button [routerLink]="['home']" [queryParams]="{doRegister: true}"
      *ngIf="!isLoggedIn()">Register</button>
    <button mat-button *ngIf="isLoggedIn()" (click)="logout()">Logout</button>

  </mat-toolbar-row>

  <mat-toolbar-row id="secondrow">
    <span>{{(selectedCourse?.name)  || "Home"}}</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <div class="container">
      <mat-nav-list>
        <a mat-list-item *ngFor="let course of courses" (click)="selectCourse(course)">
          {{course.name}} </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div *ngIf="isRoleTeacher() && isLoggedIn();">

      

      <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let element of navTeacherLinks" (click)="onClickTab(element.link)" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive" value="link">
          {{element.label}}
        </a>
      </nav>


<!--       
      <nav mat-tab-nav-bar>
        <a mat-tab-link (click)="goToStudentsBar()" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
          Students
        </a>
        <a mat-tab-link (click)="goToVMBar()" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
          VM
        </a>
        <a mat-tab-link (click)="goToHomeworkBar()" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
          Elaborati
        </a>
      </nav> -->
    </div>

    <div *ngIf="isRoleStudent() && isLoggedIn();">
      <p>Sono uno studente</p>
    </div>





    <router-outlet></router-outlet>


    <!-- <nav mat-tab-nav-bar>
      <a mat-tab-link
         *ngFor="let link of navLinks"
         [routerLink]="link.path"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav> -->
  </mat-sidenav-content>
</mat-sidenav-container>