<mat-card>
    <mat-card-title>Register</mat-card-title>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [value]="pattern"
        (change)="onPatternChanged($event.value)" color="primary">
        <mat-radio-button value="s******@studenti.polito.it" style="margin-right:20px">Student</mat-radio-button>
        <mat-radio-button value="d******@polito.it">Professor</mat-radio-button>
    </mat-radio-group>
    <mat-card-content>

        <form [formGroup]="form">
            <ngb-alert *ngIf="message" [type]='alertType' (close)="message=null">{{ message }}</ngb-alert>

            <mat-form-field>
                <mat-label>Enter your firstname</mat-label>
                <input type="text" matInput formControlName="firstName">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Enter your last name</mat-label>
                <input type="text" matInput formControlName="name">
            </mat-form-field>

            <div class="flexCenter">

                <mat-form-field>
                    <mat-label>Enter your profile picture</mat-label>
                    <input matInput placeholder="No file selected" readonly="true" formControlName="fileName">
                </mat-form-field>
                <button type="button" class="folderButton" mat-mini-fab color="primary"
                    aria-label="Example icon button with a delete icon" (click)="fileInput.click()">
                    <mat-icon>folder</mat-icon>
                    <input #fileInput type="file" (change)="onFileChanged($event)" style="display:none;" />
                </button>

            </div>
            <mat-form-field>
                <mat-label>Enter your Id</mat-label>
                <input type="text" matInput formControlName="id" maxlength="6">
                <mat-error> &lt;id&gt; should be composed by 6 digits </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Your email</mat-label>
                <input #email type="text" matInput formControlName="email" readonly>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <mat-error>The length of the password must be less than 8 and greater than 12 characters </mat-error>
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Confirm your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
                <mat-hint
                    *ngIf="form.errors?.passwordsNotEqual && (form.get('confirmPassword').touched || form.get('confirmPassword').dirty)">
                    Passwords don't match.
                </mat-hint>
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>


            <br>

            <div class="flexCenter">
                <div *ngIf="isRegistrationSubmitting; then yes else no"></div>
                <ng-template #yes> <mat-spinner diameter="36" strokeWidth="3" class="actions"></mat-spinner></ng-template>
                <ng-template #no> <button [disabled]="form.invalid" (click)="submit()" mat-raised-button color="primary"
                        class="actions">Register</button></ng-template>
                <button (click)="close()" mat-raised-button class="actions">Cancel</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>