<div *ngIf="!isAllLoaded; else loadedBlock" class="flexCenter">
    <mat-spinner diameter="300" strokeWidth="5"></mat-spinner>
</div>
<ng-template #loadedBlock>
    <div class="contentContainer">

        <ngb-alert *ngIf="message" [type]='alertType' (close)="message=null">{{ message }}</ngb-alert>

        <mat-card style="width: 25%; align-self: center;">
            <h2 class="mat-h2 tabtitle">Vm Creation</h2>
            <button mat-flat-button color="primary" [disabled]="!teamId" (click)="createVm($event)">Create</button>
        </mat-card>


        <mat-card *ngIf="team" style="width: 25%; align-self: center;">
            <h2 class="mat-h2 tabtitle">Resource Utilization</h2>

            <table mdbTable>
                <thead>
                    <tr>
                        <th scope="col">RAM </th>
                        <th scope="col">Disk Space </th>
                        <th scope="col">N.CPU </th>
                    </tr>
                </thead>
                <tbody>
                    <tr mdbTableCol>
                        <td>{{utilization.ram}}/{{team.ram}}</td>
                        <td>{{utilization.disk_space}}/{{team.disk_space}}</td>
                        <td>{{utilization.n_cpu}}/{{team.n_cpu}}</td>
                    </tr>
                </tbody>
            </table>


        </mat-card>

        <mat-card *ngIf="dataSourceVm.data.length==0">No VMs currently available.</mat-card>

        <mat-card *ngIf="dataSourceVm.data.length>0">
            <h2 class="mat-h2 tabtitle"> Vm list</h2>
            <table #innerTables mat-table #innerSort="matSort" [dataSource]=dataSourceVm matSort>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
                    <td mat-cell *matCellDef="let vm"> {{vm.name}} </td>
                </ng-container>
                <ng-container matColumnDef="id_creator">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Creator</th>
                    <td mat-cell *matCellDef="let vm"> {{vm['id_creator']}} </td>
                </ng-container>
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No.</th>
                    <td mat-cell *matCellDef="let vm"> {{vm['position']}} </td>
                </ng-container>
                <ng-container matColumnDef="disk_space">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Disk Space</th>
                    <td mat-cell *matCellDef="let vm"> {{vm.disk_space}} </td>
                </ng-container>
                <ng-container matColumnDef="ram">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> RAM</th>
                    <td mat-cell *matCellDef="let vm"> {{vm.ram}} </td>
                </ng-container>

                <ng-container matColumnDef="n_cpu">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> N. CPU</th>
                    <td mat-cell *matCellDef="let vm"> {{vm.n_cpu}}</td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
                    <td mat-cell *matCellDef="let vm">
                        <span *ngIf="vm.status == 0">Stopped</span>
                        <span *ngIf="vm.status == 1">Running</span> </td>
                </ng-container>

                <ng-container *ngIf="dataSourceVm.data.length>0" matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let vm">
                        <button *ngIf="isOwner(vm)" mat-raised-button (click)="changeVmStatus(vm)">
                            <div *ngIf=" vm.status == 0; then runBlock else stopBlock"></div>
                            <ng-template #runBlock>
                                Run
                            </ng-template>
                            <ng-template #stopBlock>
                                Stop
                            </ng-template>
                        </button>
                        <button [disabled]="vm.status==0" mat-raised-button (click)="openVmImage(vm)">Open</button>
                        <button *ngIf="isOwner(vm)" [disabled]="vm.status==1" mat-raised-button
                            (click)="openEditDialog(vm, $event)">Edit</button>
                        <button *ngIf="isOwner(vm)" mat-raised-button (click)="openShareDialog(vm)">Share</button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef> Delete </th>
                    <td mat-cell *matCellDef="let vm">
                        <mat-icon *ngIf="isOwner(vm)" id="deleteIcon" aria-hidden="false" aria-label="Example home icon"
                            (click)="deleteVm(vm)">
                            delete
                        </mat-icon>
                        <span *ngIf="!isOwner(vm)">--</span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </mat-card>
    </div>

</ng-template>