mat-spinner {
    margin: 4%;
}

#deleteIcon {
    cursor: pointer;
}

.flexCenter {
    display: flex;
    justify-content: center;
}

::ng-deep th, td {
    text-align: center!important;
}

::ng-deep .mat-sort-header-container {
    justify-content: center!important;
}

mat-card {
    text-align: center;
    margin: 20px;
}

.contentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

