<div class="homeworkContainer">
    <div class="tabContainer">
        <div class="contentContainer">
            <ngb-alert *ngIf="message" [type]='alertType' (close)="message=null">
                {{ message }}
            </ngb-alert>

            <mat-card style="width: auto;align-self: center; padding: 20px;" *ngIf="this.authService.isRoleTeacher()">

                <h2 class="mat-h2 tabtitle">Add Assignment </h2>

                <form [formGroup]="addAssignmentForm">

                    <div class="flexCenter">

                        <mat-form-field appearance="fill">
                            <mat-label>Enter expiration date</mat-label>
                            <div class="timePicker">
                                <input matInput [matDatepicker]="picker" formControlName="expirationDate"
                                    [min]="tomorrow" (dateChange)="changeSelectedDate($event.value)">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </div>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Enter expiration Time</mat-label>
                            <div class="timePicker">
                                <input matInput placeholder="24hr format" [ngxTimepicker]="toggleTimepicker"
                                    [format]="24" readonly formControlName="expirationTime" [min]="getCurrentMinTime()">
                                <ngx-material-timepicker-toggle [for]="toggleTimepicker">
                                </ngx-material-timepicker-toggle>
                                <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
                            </div>
                        </mat-form-field>
                    </div>

                    <div>
                        <button class="folderButton" mat-fab color="primary"
                            aria-label="Example icon button with a delete icon" (click)="fileInput.click()">
                            <mat-icon>folder</mat-icon>
                            <input #fileInput type="file" (change)="onFileChanged($event)" style="display:none;" />
                        </button>
                        <mat-form-field>
                            <mat-label>Add assignment</mat-label>
                            <input matInput placeholder="No file selected" readonly="true" formControlName="fileName">
                        </mat-form-field>

                        <button (click)="submit()" id="uploadButton" [disabled]="!addAssignmentForm.valid"
                            mat-flat-button color="primary" style="margin-left: 20px;">Upload</button>
                    </div>
                </form>
            </mat-card>

            <mat-card *ngIf="consegneDataSource.data.length==0">No Assignment to show.</mat-card>

            <mat-card *ngIf="consegneDataSource.data.length>0">
                <h2 class="mat-h2 tabtitle">Assignment list </h2>

                <table mat-table [dataSource]="consegneDataSource" matSort multiTemplateDataRows>

                    <ng-container matColumnDef="releaseDate">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> Release Date </th>
                        <td mat-cell *matCellDef="let assignment"> {{assignment.releaseDate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="expirationDate">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> Expiration Date </th>
                        <td mat-cell *matCellDef="let assignment"> {{assignment.expirationDate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef style="width: 20%;"> Image </th>
                        <td mat-cell *matCellDef="let element">
                            <img [src]="element.srcImage"
                                [ngStyle]="{'height.vh': element == expandedAssignment ? '30' : '12'}">
                        </td>
                    </ng-container>

                    <ng-container *ngIf="isThereAnAssignmentToBeDeleted" matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Remove </th>
                        <td mat-cell *matCellDef="let assignment">
                            <button *ngIf="assignment.isDeletable" class="folderButton" mat-mini-fab color="warn"
                                aria-label="Example icon button with a delete icon"
                                (click)="deleteAssignment(assignment)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let assignment" [attr.colspan]="homeworksColumnsToDisplay.length">
                            <div class="example-element-detail"
                                [@detailExpand]="assignment == assignmentExpandedElement ? 'expanded' : 'collapsed'">
                                <div class="example-element-description">


                                    <mat-card *ngIf="this.authService.isRoleTeacher()">
                                        <h2 class="mat-h2 tabtitle">Homework list</h2>

                                        <mat-form-field class="example-chip-list">
                                            <mat-chip-list #chipList aria-label="Filter Options">
                                                <mat-chip *ngFor="let option of options" [selectable]="selectable"
                                                    [removable]="removable"
                                                    (removed)="removeOption(option,assignment.id)">
                                                    {{option}}
                                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                                </mat-chip>
                                                <input placeholder="Select an option..." #optionInput
                                                    [formControl]="optionCtrl" [matAutocomplete]="auto"
                                                    [matChipInputFor]="chipList"
                                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                    (matChipInputTokenEnd)="addOption($event)">
                                            </mat-chip-list>
                                            <mat-autocomplete #auto="matAutocomplete"
                                                (optionSelected)="selected($event,assignment.id)">
                                                <mat-option *ngFor="let option of filteredOptions | async"
                                                    [value]="option">
                                                    {{option}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>

                                        <table mat-table
                                            [dataSource]="homeworksDataSource[displayedAssignments.indexOf(assignment)]"
                                            multiTemplateDataRows>

                                            <ng-container matColumnDef="studentId">
                                                <th mat-header-cell *matHeaderCellDef>
                                                    Student Id </th>
                                                <td mat-cell *matCellDef="let homework"> {{homework.studentId}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="name">
                                                <th mat-header-cell *matHeaderCellDef>
                                                    First Name </th>
                                                <td mat-cell *matCellDef="let homework"> {{homework.name}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="surname">
                                                <th mat-header-cell *matHeaderCellDef>
                                                    Last Name </th>
                                                <td mat-cell *matCellDef="let homework"> {{homework.surname}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="state">
                                                <th mat-header-cell *matHeaderCellDef>
                                                    State </th>
                                                <td mat-cell *matCellDef="let homework"> {{homework.state}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="timestamp">
                                                <th mat-header-cell *matHeaderCellDef>
                                                    Timestamp </th>
                                                <td mat-cell *matCellDef="let homework"> {{homework.timestamp}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="mark">
                                                <th mat-header-cell *matHeaderCellDef>
                                                    Mark </th>
                                                <td mat-cell *matCellDef="let homework"> {{homework.mark}} </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="homeworksColumnsToDisplay"></tr>
                                            <tr mat-row *matRowDef="let homework; columns: homeworksColumnsToDisplay;"
                                                (click)="seeHomeworkVersions(homework)"></tr>
                                        </table>

                                    </mat-card>

                                    <mat-card *ngIf="this.authService.isRoleStudent()">

                                        <h2 class="mat-h2 tabtitle">Homework</h2>
                                        <table mat-table
                                            [dataSource]="homeworksDataSource[displayedAssignments.indexOf(assignment)]"
                                            multiTemplateDataRows>
                                            <div *ngFor="let column of homeworksColumnsToDisplay">
                                                <ng-container matColumnDef="{{column}}">
                                                    <th mat-header-cell *matHeaderCellDef> {{column|uppercase}} </th>
                                                    <td mat-cell *matCellDef="let homework"> {{homework[column]}} </td>
                                                </ng-container>
                                            </div>
                                            <tr mat-header-row *matHeaderRowDef="homeworksColumnsToDisplay"></tr>
                                            <tr mat-row *matRowDef="let homework; columns: homeworksColumnsToDisplay;"
                                                (click)=" seeHomeworkVersions(homework)"></tr>
                                        </table>

                                    </mat-card>


                                </div>

                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="consegneDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let assignment; columns: consegneDisplayedColumns;"
                        class="example-element-row"
                        [class.example-expanded-row]="assignmentExpandedElement === assignment"
                        [ngClass]="{ 'expired-assignment': assignment.expirationDateObj.getTime() < currentTime.getTime()}"
                        (click)="selectAssignment(assignment)">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>

            </mat-card>
        </div>
    </div>
</div>