<div class="homeworkContainer">



    <form [formGroup]="form" (ngSubmit)="submit()">

        <mat-form-field appearance="fill">
            <mat-label>Enter expiration date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="expirationDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


        <div>
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
                (click)="fileInput.click()">
                <mat-icon>folder</mat-icon>
                <input #fileInput type="file" (change)="onFileChanged($event)" style="display:none;"
                    formControlName="file" />
            </button>
            <mat-form-field>
                <mat-label>Add assignment</mat-label>
                <input matInput placeholder="No file selected" [(ngModel)]="fileName" readonly="true"
                    formControlName="fileName">
            </mat-form-field>

            <button id="uploadButton" [disabled]="!form.valid" mat-flat-button color="primary"
                (click)="onUpload()">Upload</button>

        </div>
    </form>


    <h2 class="mat-h2 tabtitle">Elenco Consegne </h2>

    <div class="tabContainer">
        <div class="contentContainer">

            <table mat-table [dataSource]="consegneDataSource" multiTemplateDataRows class="mat-elevation-z8">
                <div *ngFor="let column of consegneDisplayedColumns">
                    <ng-container *ngIf="column!='actions'" matColumnDef="{{column}}">
                        <th mat-header-cell *matHeaderCellDef> {{column|uppercase}} </th>
                        <td mat-cell *matCellDef="let assignment"> {{assignment[column]}} </td>
                    </ng-container>
                </div>

                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let assignment" [attr.colspan]="homeworksColumnsToDisplay.length">
                        <div class="example-element-detail"
                            [@detailExpand]="assignment == assignmentExpandedElement ? 'expanded' : 'collapsed'">
                            <div class="example-element-description">


                                <div *ngIf="this.authService.isRoleTeacher()">



                                    <h2 class="mat-h2 tabtitle">Elenco Elaborati</h2>

                                    <mat-form-field class="example-chip-list">
                                        <mat-chip-list #chipList aria-label="Filter Options">
                                            <mat-chip *ngFor="let option of options" [selectable]="selectable"
                                                [removable]="removable" (removed)="removeOption(option,assignment.id)">
                                                {{option}}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                            </mat-chip>
                                            <input placeholder="Select an option..." #optionInput
                                                [formControl]="optionCtrl" [matAutocomplete]="auto"
                                                [matChipInputFor]="chipList"
                                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                (matChipInputTokenEnd)="addOption($event)">
                                        </mat-chip-list>
                                        <mat-autocomplete #auto="matAutocomplete"
                                            (optionSelected)="selected($event,assignment.id)">
                                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                                {{option}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>

                                    <table mat-table
                                        [dataSource]="homeworksDataSource[displayedAssignments.indexOf(assignment)]"
                                        multiTemplateDataRows class="mat-elevation-z8">
                                        <div *ngFor="let column of homeworksColumnsToDisplay">
                                            <ng-container matColumnDef="{{column}}">
                                                <th mat-header-cell *matHeaderCellDef> {{column|uppercase}} </th>
                                                <td mat-cell *matCellDef="let homework"> {{homework[column]}} </td>
                                            </ng-container>

                                        </div>
                                        <tr mat-header-row *matHeaderRowDef="homeworksColumnsToDisplay"></tr>
                                        <tr mat-row *matRowDef="let homework; columns: homeworksColumnsToDisplay;"
                                            (click)="seeHomeworkDetails(homework)"></tr>
                                    </table>

                                </div>



                                <div *ngIf="this.authService.isRoleStudent()">

                                    <h2 class="mat-h2 tabtitle">Elaborato </h2>

                                    <table mat-table
                                        [dataSource]="homeworksDataSource[displayedAssignments.indexOf(assignment)]"
                                        multiTemplateDataRows class="mat-elevation-z8">
                                        <div *ngFor="let column of homeworksColumnsToDisplay">
                                            <ng-container matColumnDef="{{column}}">
                                                <th mat-header-cell *matHeaderCellDef> {{column|uppercase}} </th>
                                                <td mat-cell *matCellDef="let homework"> {{homework[column]}} </td>
                                            </ng-container>
                                        </div>
                                        <tr mat-header-row *matHeaderRowDef="homeworksColumnsToDisplay"></tr>
                                        <tr mat-row *matRowDef="let homework; columns: homeworksColumnsToDisplay;"
                                            (click)="seeHomeworkDetails(homework)"></tr>
                                    </table>

                                </div>


                            </div>

                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="consegneDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let assignment; columns: consegneDisplayedColumns;" class="example-element-row"
                    [class.example-expanded-row]="assignmentExpandedElement === assignment"
                    (click)="assignmentExpandedElement = assignmentExpandedElement === assignment ? null : assignment">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

        </div>
    </div>
</div>