<div *ngIf="!(isAllStudentsLoaded && isEnrolledStudentsLoaded); else loadedBlock" class="flexCenter">
    <mat-spinner diameter="300" strokeWidth="5"></mat-spinner>
</div>
<ng-template #loadedBlock>
<app-course-management 
[message]="message"
[courseObj]="courseObj"
[selectedCourse]="selectedCourse"
[studentsNotInCourse]="studentsNotInCourse"
[enrolledStudents]="enrolledStudents"
[availableTeachers]="availableTeachers" 
(addStudent)="addStudent($event)" 
(deleteStudents)="deleteStudents($event)"
(enrollManyCsvEvent)="enrollManyCSV($event)"
(updateCourse)="updateCourse($event)"
(removeCourse)="removeCourse($event)"
(setVmModelForCourse)="setVmModelForCourse($event)"
(shareCourseWithProf)="shareCourseWithProf($event)">
</app-course-management>
</ng-template>