<div *ngIf="!isAllLoaded; else loadedBlock" class="flexCenter">
    <mat-spinner diameter="300" strokeWidth="5"></mat-spinner>
</div>
<ng-template #loadedBlock>

    <ngb-alert *ngIf="message" [type]='alertType' (close)="message=null">{{ message }}</ngb-alert>

    <mat-card *ngIf="dataSourceTeams.data.length==0">No Teams to show.</mat-card>

    <mat-card *ngIf="dataSourceTeams.data.length>0">

        <h2 class="mat-h2 tabtitle">Team list</h2>

        <table mat-table [dataSource]="dataSourceTeams" multiTemplateDataRows>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>
                    Name </th>
                <td mat-cell *matCellDef="let element">
                    {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef>
                    No. </th>
                <td mat-cell *matCellDef="let element">
                    {{element.position}} </td>
            </ng-container>

            <ng-container matColumnDef="disk_space">
                <th mat-header-cell *matHeaderCellDef>
                    Disk Space </th>
                <td mat-cell *matCellDef="let element">
                    {{teamsRunningResources[element.id]?.disk_space}}/{{element.disk_space}} </td>
            </ng-container>

            <ng-container matColumnDef="ram">
                <th mat-header-cell *matHeaderCellDef>
                    RAM </th>
                <td mat-cell *matCellDef="let element">
                    {{teamsRunningResources[element.id]?.ram}}/{{element.ram}} </td>
            </ng-container>

            <ng-container matColumnDef="n_cpu">
                <th mat-header-cell *matHeaderCellDef>
                    N. CPU </th>
                <td mat-cell *matCellDef="let element">
                    {{teamsRunningResources[element.id]?.n_cpu}}/{{element.n_cpu}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button (click)="openEditDialog(element, $event)">Edit</button>
                </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                    <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                        <ngb-alert *ngIf="element.vms && element.vms.length==0" [dismissible]="false">No Vms for this
                            team</ngb-alert>

                        <table *ngIf="element.vms && element.vms.length>0" #innerTables mat-table #innerSort="matSort"
                            [dataSource]="element.vms" matSort>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Name </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    No. </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.position}} </td>
                            </ng-container>

                            <ng-container matColumnDef="disk_space">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Disk Space </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.disk_space}} </td>
                            </ng-container>

                            <ng-container matColumnDef="ram">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    RAM </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.ram}} </td>
                            </ng-container>

                            <ng-container matColumnDef="id_creator">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    ID Creator </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.id_creator}} </td>
                            </ng-container>

                            <ng-container matColumnDef="n_cpu">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    N. CPU </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.n_cpu}} </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Status </th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="element.status==1">Running</span>
                                    <span *ngIf="element.status==0">Stopped</span>
                                </td>
                            </ng-container>



                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef> Actions </th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-raised-button (click)="openVmImage(element, $event)">Open</button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="innerDisplayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: innerDisplayedColumns;"></tr>
                        </table>

                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    </mat-card>
</ng-template>