<div class="tabContainer">

    <mat-card>
        <div class="inlineDiv">

            <h4 class="h4InLineDiv">
                Course settings
            </h4>

            <button mat-mini-fab [color]="!isEditing?'primary':'white'" (click)="toggleEditSettings()">
                <mat-icon> {{ !isEditing ? 'edit':'close'}}</mat-icon>
            </button>
        </div>
        <div class="containerDiv" [hidden]="!isEditing">

            <div class="inlineDiv">
                <form [formGroup]="courseSettingForm">
                    <mat-form-field class="settingField">
                        <input type="number" matInput placeholder="Min. group size" formControlName="min">
                    </mat-form-field>

                    <mat-form-field class="settingField">
                        <input type="number" matInput placeholder="Max. group size" formControlName="max">
                    </mat-form-field>

                    <mat-checkbox id="enabled" class="settingField" color="primary" formControlName="enabled">
                        Enable Course
                    </mat-checkbox>

                </form>
                <button type="button" mat-raised-button (click)="confirmSettings()" class="formInlineButton"
                    color="primary" [ngStyle]="{'background-color':'green'}">
                    Confirm
                </button>

                <button type="button" mat-raised-button class="formInlineButton" color="warn"
                    aria-label="Example icon button with a delete icon" (click)="onRemoveCourse()">
                    Remove Course
                </button>
            </div>


            <div>
                <h6 class="h4InLineDiv">
                    Add professor to course
                </h6>
                <div class="inlineDiv">
                    <form [formGroup]="shareCourseForm">
                        <mat-form-field class="inputStudentField">
                            <mat-label> Available professors </mat-label>
                            <input type="text" matInput [formControl]="professorsControl" [matAutocomplete]="auto">
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayProf"
                                (optionSelected)="profSelected($event.option.value)">
                                <mat-option *ngFor="let teacher of filteredProfessors | async" [value]="teacher">
                                    {{teacher? teacher.firstName : ''}} {{teacher.name? teacher.name:''}}
                                    {{teacher.id? "("+teacher.id+")":''}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </form>
                    <button [disabled]="shareCourseForm.invalid " (click)="shareCourse()" mat-raised-button
                        color="primary" class="formInlineButton">Share
                        course</button>
                </div>
            </div>
            <div>
                <h6 class="h4InLineDiv">
                    Set VM Model
                </h6>
                <div class="inlineDiv">
                    <form [formGroup]="courseVmModelForm">
                        <mat-form-field>
                            <mat-label>Vm Model</mat-label>
                            <mat-select formControlName="vmmodel" required>
                                <mat-option *ngFor="let model of vmModels" [value]="model.name">{{model.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button [disabled]="courseVmModelForm.invalid" type="button" mat-raised-button
                            (click)="confirmVmModel()" color="primary" class="formInlineButton"
                            [ngStyle]="{'background-color': courseVmModelForm.valid? 'green':'' }">
                            Confirm
                        </button>
                    </form>
                </div>
            </div>


        </div>



    </mat-card>

    <!-- Messages set by the parent component -->
    <ngb-alert class="messageParent" *ngIf="message.message" [type]='message.alertType' (close)="message.message=null">
        {{ message.message }}
    </ngb-alert>

    <mat-card>
        <h4 class="h4InLineDiv">
            Students management
        </h4>
        <form [formGroup]="addStudentForm">
            <div class="flexCenter">
                <div>
                    <mat-form-field class="inputStudentField">
                        <input type="text" placeholder="Add Student" aria-label="Number" matInput
                            formControlName="studentControl" [matAutocomplete]="autoStudent">
                        <mat-autocomplete autoActiveFirstOption #autoStudent="matAutocomplete"
                            [displayWith]="displayWith" (optionSelected)="autocompleteSelected($event.option.value)">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option? option.firstName : ''}} {{option.name? option.name:''}}
                                {{option.id? "("+option.id+")":''}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <button type="button" mat-button (click)="addStudentEvent()">Add</button>

                </div>
                <div>
                    <button type="button" mat-fab color="primary" aria-label="Example icon button with a folder icon"
                        (click)="fileInput.click()">
                        <mat-icon>folder</mat-icon>
                        <input #fileInput type="file" (change)="onFileChanged($event)" style="display:none;" />
                    </button>
                    <mat-form-field>
                        <mat-label>Add students</mat-label>
                        <input matInput placeholder="No file selected" formControlName="fileNameControl"
                            readonly="true">
                    </mat-form-field>

                    <button type="button" id="uploadButton" [disabled]="isDisabled" mat-button color="primary"
                        (click)="onUpload()">Upload</button>

                </div>
            </div>
        </form>
    </mat-card>

    <mat-card *ngIf="enrolledStudentsDataSource.data.length==0">No Students to show</mat-card>

    <mat-card *ngIf="enrolledStudentsDataSource.data.length>0">

        <h2 class="mat-h2 tabtitle">Elenco studenti iscritti al corso</h2>

        <div class="flexCenter">
            <button class="fabButton" mat-fab color="warn" aria-label="Example icon button with a delete icon"
                *ngIf="!isDeleteButtonDisabled()" (click)="_deleteStudents()">
                <mat-icon>delete</mat-icon>
            </button>

            <ngb-alert class="flexCenter" *ngIf="msg" [type]='alertType' (close)="msg=null">
                <span class="message"> {{ msg }} </span>
                <div *ngIf="alertType=='secondary'">
                    <button *ngIf="masterToggleInPageOption else m" (click)="toggleSelectionOptionAndSelect()"
                        mat-flat-button color="primary">Seleziona tutti </button>
                    <ng-template #m>
                        <button (click)="toggleSelectionOptionAndSelect()" mat-flat-button color="primary">Annulla
                            selezione
                        </button>
                    </ng-template>
                </div>
            </ngb-alert>
        </div>

        <table #table mat-table [dataSource]="enrolledStudentsDataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Group Column -->
            <!-- Groups are not modelled yet, providing a default value. -->
            <ng-container matColumnDef="group">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Group </th>
                <td mat-cell *matCellDef="let element"> {{(element.group) || "---"}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- First Name Column -->
            <ng-container matColumnDef="first name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Firstname </th>
                <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef style="width: 3%;">
                    <mat-checkbox (change)="$event ? masterToggle() : null" color="primary"
                        [checked]="selection.hasValue() && isAllSelectedInPage()"
                        [indeterminate]="selection.hasValue() && !isAllSelectedInPage()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        color="primary" [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </mat-card>
</div>