.addStudentForm, .tabtitle {
    margin-left: 20px;
}

.inputStudentField {
    width: 300px;
}

.fileUploadingArea {
    display: inline;
    justify-content: flex-end;
}

.fabButton {
    margin: 10px;
}

#uploadButton {
    margin-left: 20px;
}

.flexCenter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

::ng-deep th, td {
    text-align: center!important;
}

::ng-deep .mat-sort-header-container {
    justify-content: center!important;
}

mat-card {
    text-align: center;
    margin: 20px;
}

.containerDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    vertical-align: middle;
    justify-content: space-between;
}

.inlineDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
}

.inlineDivEnd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: auto;
    min-width: 45%;
}

.formInlineButton {
    height: min-content;
    align-self: center;
    margin: 20px;
}

.settingField {
    margin: 0 20px;
    vertical-align: middle;
}

.mat-form-field {
    margin-left: 15px;
}

h2, h4, h6{
    text-align: left;
}

.message {
    align-self: center;
    margin-right: 20px;
}

.h4InLineDiv {
    vertical-align: middle;
    margin-top: 0.5rem;
    margin-right: 20px;
}

.messageParent {
    margin: 20px;
}